MONGODB_URI=mongodb://mongodb:27017
MONGODB_NAME=echotts_db

MODEL_PATH=/app/models/piper/model.onnx
CONFIG_PATH=/app/models/piper/model.onnx.json

AUDIO_DIR=/app/data/audio

REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_NAME=tts_jobs